@font-face {
  font-family: "YourFontName";
  src: url("../../public/PokemonSolid.woff2") format("woff2");
}

.main {
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  font-family: "YourFontName", sans-serif;
  letter-spacing: 3px;
  color: #ffcb04;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  cursor: url("../../public/cursor/cursor.cur"), auto;
}

.main button {
  cursor: url("../../public/cursor/cursor_active.cur"), auto;
}
