@font-face {
  font-family: "YourFontName";
  src: url("../../public/PokemonSolid.woff2") format("woff2");
}

.main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  font-family: "YourFontName", sans-serif;
  letter-spacing: 3px;
  color: #ffcb04;
}
